{%  extends 'base.html' %}
{% load kiwi_tags %}
{% block title %}Departamentos{% endblock %}
{% block content %}
    <h2>Departamentos</h2>
    <a class="button" href={%  url 'nuevo_departamento' %}>Nuevo departamento</a>
    {% if object_list %}
        <table class="datalist">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Provincia</th>
                    <th>País</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.id }}</td>
                        <td>{{ object.nombre }}</td>
                        <td>{{ object.provincia }}</td>
                        <td>{{ object.provincia.pais }}</td>
                        <td>{% edit_button 'editar_departamento' object.id %}</td>
                        <td>{% delete_button 'eliminar_departamento' object.id %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay departamentos cargados</p>
    {% endif %}
{% endblock %}